@charset 'utf-8';

/*header*/
.header{
  background: #021023;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}
.logo{
  float: left;
  width: 190px;
  margin-left: -15px;
}
.logo a{
}
.logo img{
}
.nav{
  float: right;
  margin-right: -9px;
}
.nav li{
  float: left;
  margin-left: 35px;
  position: relative;
}
/*banner*/
.banner{
  height: 466px;
  background:#28272F url(../img/banner.jpg) no-repeat center 0;
  overflow: hidden;
  position: relative;
}
.banner canvas{
  position: absolute;
  left:50%;
  top:166px;
  margin-left: -1000px;
}
.banner .dingwei{
  float: right;
  position: relative;
  z-index: 10;
}
.banner h1{
  font-size: 50px;
  line-height: 50px;
  color: #FFF;
  margin-top: 80px;
  margin-bottom: 10px;
  font-weight: 500;
  position: relative;
  height: 100px;
  width: 550px;
  /*border: 1px solid blue;*/
}
.banner h1 span{
  position: absolute;
  left:-100px;
  top: -20px;
  font-size: 90px;
  font-family: serif;
}
#theater{
  font-style: normal;
}
.banner h3{
  font-size: 30px;
  color: #b5a1a1;
  font-weight: 100;
}
.banner ul{
  margin-top: 30px;
}
.banner ul li{
  float: left;
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin-right: 30px;
  position: relative;
}
.banner ul li:last-child{
  margin-right: 0;
}
.banner ul a{
  display: block;
  border-radius:200px;
  width: 80px;
  height: 80px;
  position: relative;
}
.banner ul a svg{
  width: 80px;
  height: 80px;
  border-radius: 200px;
}
#wechat_code{
  width: 100px;
  max-width: 100px;
  margin-left: -10px;
  margin-top: -10px;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: crosshair;
  position: absolute;
  left: 0;
  top: 0;
}
.banner ul a:hover #wechat_code{
  -webkit-transform: scale(1);
  transform: scale(1);
}

/*.nav li i{
  position: absolute;
  left: 0;
  top: 24px;
  display: block;
  width: 10px;
  height: 2px;
  background: #E7BE20;
}*/
.nav a{
  color: #FFF;
  display: block;
  /*border: 1px solid red;*/
  padding-left:20px;
  font-size: 13px;
  text-transform: uppercase;
}
.nav a::before{
  content: "i";
  position: absolute;
  left: 0;
  top: 24px;
  display: block;
  width: 10px;
  height: 2px;
  overflow: hidden;
  background: #E7BE20;
  -webkit-transition: width .2s ease-out;
  transition: width .2s ease-out;
}
.nav a:hover,.nav a.active{
  color: #E7BE20;
}
.nav a:hover::before,.nav a.active::before{
  width: 15px;
}
/*keyframes rideonrails*/
@-webkit-keyframes rideonrails {
  0%{
    -webkit-transform: translate(0,0);
  }
  60%{
    -webkit-transform: translate(130px,0);
  }
  100%{
    -webkit-transform: translate(130px,0);
  }
}
@keyframes rideonrails {
  0%{
    transform: translate(0,0);
  }
  60%{
    transform: translate(130px,0);
  }
  100%{
    transform: translate(130px,0);
  }
}
/*logo*/
a#logo{
  position: relative;
  /*left: -25px;*/
  /*top: 30px;*/
  height: 50px;
  display: block;
  z-index: 9;
  padding-left: 50px;
  line-height: 50px;
  color: #EEE;
  font-size: 13px;
}
a#logo svg{
  position: absolute;
  left: 0px;
  top: 5px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  height: 40px;
}
a:hover#logo svg{
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
a#logo span{
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  display: block;
  height: 30px;
  line-height: 28px;
  position: absolute;
  top: 10px;
}
a#logo span code{
  font-family: "微软雅黑",Ubuntu,Arial,"libra sans",sans-serif;
  margin-left: 0px;
  margin-right: 0px;
  color:#EEE;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
a#logo:hover span code{
  margin-left: 3px;
  margin-right: 3px;
  font-weight: 900;
}
a#logo:hover span code.x{
  color:#FFF;
}
a#logo:hover span code.c{
  color:#E7BE20;
}
a#logo i{
  opacity: 0;
  position: absolute;
  left:50px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  border-top: 1px solid #000;
  width: 10px;
  display: block;
  z-index: 10;
}
a#logo i.up{
  top:10px;
}
a#logo i.down{
  bottom:10px;
}
/*logo动画*/
a:hover#logo i,a.anim#logo i{
  opacity: 1;
  -webkit-animation:rideonrails 1.9s linear infinite;
  animation:rideonrails 1.9s linear infinite;
}
/*工作*/
.work{
  background: #F0EFEB;
  padding-top: 30px;
  padding-bottom: 30px;
}
.work_item{
  padding: 0;
  position: relative;
  overflow: hidden;
}
.work_item img{
  max-width: 100%;
  max-height: 100%;
}
.work_item .bg{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,.69);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
.illustrate{
  text-align: center;
  width: 100%;
  color: #FFF;
  height: 100%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  /*-webkit-transform: scale(0,0);*/
  /*transform: scale(0,0);*/
}
.illustrate h3{
  font-size: 20px;
  color: #FFF;
  font-weight: 500;
  padding: 20px 0 10px;
}
.illustrate h3 span.ma{
  font-size: 13px;
}
.illustrate p{
  color: #FFF;
  font-weight: 300;
}
.illustrate ul{
  margin-top: 20px;
}
.illustrate ul li{
  color: #FFF;
  font-size: 13px;
  line-height: 2em;
}
.work_item:hover .bg{
  opacity: 1;
}
.work_item:hover .illustrate{
  /*-webkit-transform: scale(1,1);*/
  /*transform: scale(1,1);*/
}

/*頁腳*/
.comming_soon{
  /*margin-top: 50px;*/
  padding-top: 90px;
  padding-bottom: 60px;
  background: #FFF;
}
.comming_soon .head{
  width: 100px;
  height: 100px;
  background:#000 url("../img/logo.svg") no-repeat center center;
  background-size: 90px 90px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  border-radius: 200px;
}
.comming_soon .head img{
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

/*.comming_soon img:nth-child(1){
  display: block;
}*/
.comming_soon h2,.comming_soon ul li{
  text-align: center;
  font-weight: 300;
  font-size: 15px;
  margin-top: 20px;
}
.comming_soon h2 span{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
}
.comming_soon ul li{
  list-style: circle;
}
.comming_soon ul li a{
  text-decoration: underline ;
}
footer{
  margin-top: 30px;
}
footer p{
  color: #999;
  text-align: center;
  height: 30px;
  line-height: 30px;
}
footer a{
  color: #696969;
}

/*技能*/
.tech{
  padding-top: 50px;
  background: #055861;
}
.tech .readme{
  margin: 60px 0;
  /*overflow: hidden;*/
}
.tech .readme p{
  color: #FFF;
  font-size: 15px;
  line-height: 1.9em;
  margin-bottom: 15px;
  /*text-indent: 2em;*/
  letter-spacing: 2px;
}
.tech .readme p a{
  color: #E7BE20;
  border-bottom: 1px solid #E7BE20;
}
.tech .readme p a:hover{
  /*border-bottom:none;*/
}
.progress_bar .pro-bar {
  background: hsl(0, 0%, 97%);
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.1) inset;
  height:4px;
  margin-bottom: 12px;
  margin-top: 50px;
  position: relative;
}
.progress_bar .progress_bar_title{
  /*color: hsl(218, 4%, 50%);*/
  color: #D5D6E2;
  font-size: 15px;
  font-weight: 300;
  position: relative;
  top: -28px;
  z-index: 1;
}
.progress_bar .progress_number{
  float: right;
  margin-top: -24px;
}
.progress_bar .progress-bar-inner {
  background-color: hsl(0, 0%, 88%);
  display: block;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 1s linear 0s;
  animation: animate-positive 2s;
}
.progress_bar .progress-bar-inner:before {
  content: "";
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
  width: 4px;
  height: 4px;
  position: absolute;
  right: 1px;
  top: 0;
  z-index: 1;
}
.progress_bar .progress-bar-inner:after {
  content: "";
  width: 14px;
  height: 14px;
  background-color: inherit;
  border-radius: 50%;
  position: absolute;
  right: -4px;
  top: -5px;
}
@-webkit-keyframes animate-positive{
  0% { width: 0%; }
}
@keyframes animate-positive{
  0% { width: 0%; }
}

/*mycode代碼*/
.mycode,.thought{
  background: #3a3a42;
  color: #FFF;
}
.mycode h3,.thought h3{
  font-size: 36px;
  font-weight: 500;
  padding-top: 100px;
  /*margin-left: 50px;*/
}
.mycode p,.thought p{
  /*margin-left: 50px;*/
  margin-top: 30px;
  font-size: 16px;
  color: #B1B1B1;
}
.mycode ul{
  margin-left: 20px;
  margin-top: 10px;
}
.mycode li{
  color: #B1B1B1;
  font-size: 16px;
  list-style: circle;
  line-height: 1.6em;
}
.mycode img,.thought img{
  margin-top: 40px;
  margin-bottom: 60px;
  display: block;
  float: right;
}
/*thought思维*/
.thought{
  background: #ff6b43;
}
.thought p{
  color: #fff6f4;
  margin-bottom: 30px;
}
.thought p a{
  color: #EFD8AF;
  border-bottom: 1px solid #EFD8AF;
}
.thought img{
  float: left;
}
/*项目*/
.myproject{
  background: #F1E3B4;
  padding-top: 50px;
  padding-bottom: 30px;
}
.myproject h3{
  color: #38513C;
  font-size: 36px;
  text-transform: uppercase;
}
.myproject ul{
  margin-left: 36px;
  margin-top: 30px;
}
.myproject li{
  margin-bottom: 20px;
}
.myproject p{
  font-size: 15px;
  font-weight: 300;
}
.myproject a{
  color: #38513C;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 3px;
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
}
.myproject a i{
  position: absolute;
  width:0;
  height: 2px;
  background: #38513C;
  left: 0;
  bottom: 0;
  -webkit-transition: width .2s ease-out;
  transition: width .2s ease-out;
}
.myproject a:hover i{
  width:100%;
}



/*page*/
.page{
  background: #EEE;
}
.article{
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 16px;
}
.article h1{
  font-size: 30px;
  margin-bottom: 20px;
}
.article p{
  font-size: 16px;
  margin-bottom: 10px;
}
.article p a{
  border-bottom: 1px solid #E7BE20;
}

.i-wrap{
  border: 1px solid #D0C6B5;
  background: #D0C6B5;
  width: 150px;
  padding: 10px;
  height: 195px;
  position: relative;
  float: left;
}
.i-wrap span{
  position: absolute;
  left: 15px;
  top: 15px;
  border:1px solid #00211E;
  display: inline-block;
  margin: 0;
  padding: 0px;
  width: 40px;
  text-align: center;
  background: #EEE;
  height: 55px;
  line-height: 55px;
  font-size: 20px;
  font-family: Arial;
}
.i1{
  transform: translate3d(0,0,0);
}
.i2{
  transform: translate3d(40px,0,0);
}
.i3{
  transform: translate3d(80px,0,0);
}
.i4{
  transform: translate3d(0,55px,0);
}
.i5{
  transform: translate3d(40px,55px,0);
}
.i6{
  transform: translate3d(80px,55px,0);
}
.i7{
  transform: translate3d(0,110px,0);
}
.i8{
  transform: translate3d(40px,110px,0);
}
.i9{
  transform: translate3d(80px,110px,0);
}
#vector {
  position: absolute;
  height: 100%;
  width: 100%;
}
#vector2 {
  opacity: 0.36;
  width: 100%;
  height: 100%;
}

/*mask*/
.mask{
  position: fixed;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.9);
  color: #FFF;
  z-index: 100;
  display: none;
  overflow: hidden;
}
.mask .houtai{
  /*background: red;*/
  padding-top: 9%;
  display: none;
}
.mask .houtai p{
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 50px;
}
.houtai-img{
  display: block;
  margin: 0 auto;
}
.mask svg{
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  z-index:999999;
}

.mask .playker{
  display: none;
  width: 100%;
  height: 100%;
}
.mask .swiper-pagination-bullet{
  background: #EEE;
}
.mask .swiper-pagination-bullet-active{
  background: #007aff;
}
.mask .swiper-slide{
  padding-top: 40px;
  padding-bottom: 30px;
}
.swiper-slide img.playker-img{
  display: block;
  margin:0 auto;
  max-width: 100%;
  max-height: 100%;
}
.mask .swiper-container{
  width: 100%;
  height: 100%;
}

@media (min-width:993px){
  .tangram-img{
    float: right;
  }
  .tangram-article{
    float:left;
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
/*手机不显示详细内容*/
@media (max-width:992px) {
  .work{
    padding-top: 0;
    padding-bottom: 0;
  }
  .work_item .illustrate ul{
    display: none;
  }
  .nav{
    display: none;
  }
  .banner h1{
    width: auto;
    font-size: 39px;
  }
  .banner h3{
    width: auto;
  }
  .banner ul{

  }
  .banner ul li{
    width: 60px;
    height: 60px;
    margin-right: 16px;
  }
  .banner ul li a{
    width: 60px;
    height: 60px;
  }
  .banner ul a svg{
    width: 60px;
    height: 60px;
  }
    #wechat_code{
      width: 80px;
      max-width: 80px;
    }
    .mask .houtai{
      padding-top: 60px;
    }
  .swiper-button-next, .swiper-button-prev{
    display: none;
  }
}

/*END*/
