@charset 'utf-8';

/*header*/
.header{
  background: #021023;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}
.logo{
  float: left;
  width: 190px;
  margin-left: -15px;
}
.logo a{
}
.logo img{
}
.nav{
  float: right;
  margin-right: -9px;
}
.nav li{
  float: left;
  margin-left: 35px;
  position: relative;
}
/*banner*/
.banner{
  height: 466px;
  background: url(../img/banner.jpg) no-repeat center 0;
  overflow: hidden;
  position: relative;
}
.banner canvas{
  position: absolute;
  left:50%;
  top:166px;
  margin-left: -1000px;
}
.banner .dingwei{
  float: right;
  position: relative;
  z-index: 10;
}
.banner h1{
  font-size: 60px;
  color: #FFF;
  margin-top: 80px;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}
.banner h1 span{
  position: absolute;
  left:-100px;
  top: -20px;
  font-size: 90px;
  font-family: serif;
}
.banner h3{
  font-size: 30px;
  color: #b5a1a1;
  font-weight: 100;
}
.banner ul{
  margin-top: 30px;
}
.banner ul li{
  float: left;
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin-right: 30px;
}
.banner ul li:last-child{
  margin-right: 0;
}
.banner ul a{
  display: block;
  text-indent: -999em;
  overflow: hidden;
  border-radius:200px;
  /*transform: rotate(0deg);*/
  /*transition: all .2s ease-out;*/
}
.banner ul a.wechat{
  background: url(../img/wechat.svg) no-repeat center center;
  background-size: cover;
}
.banner ul a.weibo{
  background: url(../img/weibo.svg) no-repeat center center;
  background-size: cover;
}
.banner ul a.zhihu{
  background: url(../img/zhihu.svg) no-repeat center center;
  background-size: cover;
}
.banner ul a.github{
  background: url(../img/github.svg) no-repeat center center;
  background-size: cover;
}
.banner ul a:hover{
  /*transform: rotate(360deg);*/
  /*opacity: 1;*/
}
/*.nav li i{
  position: absolute;
  left: 0;
  top: 24px;
  display: block;
  width: 10px;
  height: 2px;
  background: #E7BE20;
}*/
.nav a{
  color: #FFF;
  display: block;
  /*border: 1px solid red;*/
  padding-left:20px;
  font-size: 13px;
  text-transform: uppercase;
}
.nav a::before{
  content: "i";
  position: absolute;
  left: 0;
  top: 24px;
  display: block;
  width: 10px;
  height: 2px;
  overflow: hidden;
  background: #E7BE20;
  -webkit-transition: width .2s ease-out;
  transition: width .2s ease-out;
}
.nav a:hover{
  color: #E7BE20;
}
.nav a:hover::before{
  width: 15px;
}
/*keyframes rideonrails*/
@-webkit-keyframes rideonrails {
  0%{
    -webkit-transform: translate(0,0);
  }
  60%{
    -webkit-transform: translate(130px,0);
  }
  100%{
    -webkit-transform: translate(130px,0);
  }
}
@keyframes rideonrails {
  0%{
    transform: translate(0,0);
  }
  60%{
    transform: translate(130px,0);
  }
  100%{
    transform: translate(130px,0);
  }
}
/*logo*/
a#logo{
  position: relative;
  /*left: -25px;*/
  /*top: 30px;*/
  height: 50px;
  display: block;
  z-index: 9;
  padding-left: 50px;
  line-height: 50px;
  color: #EEE;
  font-size: 13px;
}
a#logo svg{
  position: absolute;
  left: 0px;
  top: 5px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  height: 40px;
}
a:hover#logo svg{
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
a#logo span{
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  display: block;
  height: 30px;
  line-height: 28px;
  position: absolute;
  top: 10px;
}
a#logo span code{
  font-family: "微软雅黑",Ubuntu,Arial,"libra sans",sans-serif;
  margin-left: 0px;
  margin-right: 0px;
  color:#EEE;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
a#logo:hover span code{
  margin-left: 3px;
  margin-right: 3px;
  font-weight: 900;
}
a#logo:hover span code.x{
  color:#FFF;
}
a#logo:hover span code.c{
  color:#E7BE20;
}
a#logo i{
  opacity: 0;
  position: absolute;
  left:50px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  border-top: 1px solid #000;
  width: 10px;
  display: block;
  z-index: 10;
}
a#logo i.up{
  top:10px;
}
a#logo i.down{
  bottom:10px;
}
/*动画*/
a:hover#logo i,a.anim#logo i{
  opacity: 1;
  -webkit-animation:rideonrails 1.9s linear infinite;
  animation:rideonrails 1.9s linear infinite;
}
/*工作*/
.work{
  background: #FFF;
}
.work_item{
  /*border: 1px solid #FFF;*/
  padding: 0;
  position: relative;
  overflow: hidden;
}
.work_item img{
  max-width: 100%;
  max-height: 100%;
}
.work_item .bg{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,.69);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
.illustrate{
  text-align: center;
  width: 100%;
  color: #FFF;
  height: 100%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  /*-webkit-transform: scale(0,0);*/
  /*transform: scale(0,0);*/
}
.illustrate h3{
  font-size: 20px;
  color: #FFF;
  font-weight: 500;
  padding: 20px 0 10px;
}
.illustrate h3 span.ma{
  font-size: 13px;
}
.illustrate p{
  color: #FFF;
  font-weight: 300;
}
.illustrate ul{
  margin-top: 20px;
}
.illustrate ul li{
  color: #FFF;
  font-size: 13px;
  line-height: 2em;
}
.work_item:hover .bg{
  opacity: 1;
}
.work_item:hover .illustrate{
  /*-webkit-transform: scale(1,1);*/
  /*transform: scale(1,1);*/
}


.comming_soon{
  padding-top: 90px;
}
.comming_soon .head{
  width: 100px;
  height: 100px;
  background:#000 url("../img/logo.svg") no-repeat center center;
  background-size: 90px 90px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
.comming_soon .head img{
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

/*.comming_soon img:nth-child(1){
  display: block;
}*/
.comming_soon h2,.comming_soon ul li{
  text-align: center;
  font-weight: 300;
  font-size: 15px;
  margin-top: 20px;
}
.comming_soon h2 span{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
}
.comming_soon ul li{
  list-style: circle;
}
.comming_soon ul li a{
  text-decoration: underline ;
}
footer p{
  color: #999;
  text-align: center;
  padding: 20px 0 10px;
}


/*手机不显示详细内容*/
@media (max-width:992px) {
  .work_item .illustrate ul{
    display: none;
  }
  .nav{
    display: none;
  }
}
