@charset 'utf-8';

.work{
  background: #FFF;
  /*display: none;*/
}
.work_item{
  /*border: 1px solid #FFF;*/
  padding: 0;
  position: relative;
  overflow: hidden;
}
.work_item img{
  max-width: 100%;
  max-height: 100%;
}
.illustrate{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  text-align: center;
  width: 100%;
  background:rgba(0,0,0,.69);
  color: #FFF;
  height: 100%;
  opacity: 0;
  transition: opacity 0.6s ease-out;
}
.illustrate h3{
  font-size: 20px;
  color: #FFF;
  font-weight: 500;
  padding: 20px 0 10px;
}
.illustrate p{
  color: #FFF;
  font-weight: 300;
}
.illustrate ul{
  margin-top: 20px;
}
.illustrate ul li{
  color: #FFF;
  font-size: 13px;
  line-height: 2em;
}
.work_item:hover .illustrate{
  opacity: 1;
}
/*手机不显示详细内容*/
@media (max-width:480px) {
  .work_item .illustrate ol{
    display: none;
  }
}

.comming_soon{
  padding-top: 90px;
}
.comming_soon .head{
  width: 100px;
  height: 100px;
  background:#000 url("../img/logo.svg") no-repeat center center;
  background-size: 90px 90px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
.comming_soon .head img{
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

/*.comming_soon img:nth-child(1){
  display: block;
}*/
.comming_soon h2,.comming_soon ul li{
  text-align: center;
  font-weight: 300;
  font-size: 15px;
  margin-top: 20px;
}
.comming_soon h2 span{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
}
.comming_soon ul li{
  list-style: circle;
}
.comming_soon ul li a{
  text-decoration: underline ;
}
