@charset 'utf-8';

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html,body {
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-font-smoothing: antialiased
}

article,aside,body,details,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,input,li,menu,nav,ol,p,section,select,textarea,ul {
    font-family: '微软雅黑',Ubuntu,Arial,'libra sans',sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    color: #333;
}

p {
    line-height: 1.6em
}

textarea {
    overflow: auto;
    resize: none
}

li {
    list-style: none
}

img {
    border: none
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

a {
    transition: all .2s ease-out;
    text-decoration: none
}

a:focus,input,select,textarea {
    outline: 0
}

.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: 'Thilina Fong'
}

.clearfix {
    zoom: 1
}

.ellip {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}