html,body{
  margin: 0;
  padding: 0;
  height: 100%;
}

/*variables $tangramWidth:300px;*/
$tangramWidth:300px;

#tangram {
  width: $tangramWidth;
  height: $tangramWidth;
  overflow: hidden;
  margin: 100px auto 0;
}

.wrap {
  position: relative;
  width: $tangramWidth;
  height: $tangramWidth * 1.33;
}

.t {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  transform-origin: 0 0;
}

.t1 {
  border-top: $tangramWidth * 0.707 solid #B5D338;
  border-right: $tangramWidth * 0.707 solid transparent;
  transform: translate($tangramWidth * 0.500, $tangramWidth * 0.500) rotate(-135deg);
}

.t2 {
  border-top: $tangramWidth * 0.707 solid #D0E969;
  border-right: $tangramWidth * 0.707 solid transparent;
  transform: translate($tangramWidth * 0.500, $tangramWidth * 0.500) rotate(135deg);
}

.t3 {
  width: $tangramWidth * 0.354;
  height: $tangramWidth * 0.354;
  background: #C6C6C6;
  transform: translate($tangramWidth * 0.500, $tangramWidth * 0.500) rotate(45deg);
}

.t4 {
  border-top: $tangramWidth * 0.354 solid #95288C;
  border-right: $tangramWidth * 0.354 solid transparent;
  transform: translate($tangramWidth * 0.500, $tangramWidth * 0.500) rotate(-45deg);
}

.t5 {
  border-top: $tangramWidth * 0.354 solid #D7E98B;
  border-right: $tangramWidth * 0.354 solid transparent;
  transform: translate($tangramWidth * 0.250, $tangramWidth * 0.750) rotate(45deg);
}

.t6 {
  width: $tangramWidth * 0.500;
  height: $tangramWidth * 0.250;
  transform: translate($tangramWidth) rotate(90deg) skew(45deg);
  background: #728912;
}

.t7 {
  border-top: $tangramWidth * 0.500 solid #D0E969;
  border-right: $tangramWidth * 0.500 solid transparent;
  transform: translate($tangramWidth, $tangramWidth) rotate(180deg);
}
